
 @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
 
 .cryptocurrency {
    padding: 1rem 2rem 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    min-width: 9rem;
    border: solid 1px rgba(0, 0, 0, 0.05);
}
.cryptocurrency p {
    color: rgba(0, 0, 0, 0.75);
}
.cryptocurrency-name {
    font-size: 1.25rem;
}
.bitcoin {
    background-color: #fbe2c3;
    border-bottom: solid 4px #f7931a;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.ethereum {
    background-color: #c2c9ff;
    border-bottom: solid 4px #454a75;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.litecoin {
    background-color: #ececec;
    border-bottom: solid 4px #bebebe;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.bitcoin:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.ethereum:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.litecoin:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@media (max-width: 500px) {
    .tickers {
        display: flex;
        flex-direction: column;
    }
  }